.grid-component{
    width: 600px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.grid-image-component{
    flex-grow: 1;
    border: 1px solid white; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 50%;
}

.grid-item-wrapper-container{
    flex: 0 0 33.3%;
    display: flex; 
    justify-content: center;
    align-items: stretch; 
    box-sizing: border-box; 
}

.grid-item-wrapper-container::before{
    content: "";
    display: table;
    padding-top: 100%;
}